body {
    font-family: 'Lato', sans-serif;
    background-color: #D7E0E0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    color: #297373;
}

h2 {
    font-size: 2rem;
    color: #0B1B1C;
}

h3 {
    font-size: 1.5rem;
    color: #0B1B1C;
}

p {
    font-size: 1rem;
    color: #707777;
}

a {
    color: #53BCBC;
    text-decoration: none;
}

a:hover {
    color: #5de9e9;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}

.primary-button {
    background-color: #53BCBC;
    color: #FFFFFF;
}

.secondary-button {
    background-color: #F44D58;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    backdrop-filter: blur(40px);

}

.nav-links {
    display: flex;
    align-content: center;
    justify-content: center;
}

.navlink {
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 7rem;
    color: black;
    flex: 1 1 3rem;
    margin: 0px 1rem;
    font-weight: 600;
    font-size: 1.15rem;
    height: 4rem;
    border-radius: 20px;
    background: #D7E0E0;
    box-shadow:  8px 8px 11px #c8d0d0,
                 -8px -8px 11px #e6f0f0;
}

.navlink:hover {
    color: black;
    border-radius: 20px;
    background: #D7E0E0;
    box-shadow: inset 8px 8px 11px #c8d0d0,
                inset -8px -8px 11px #e6f0f0;
}

.typing-cursor {
    display: inline-block;
    width: 3px;
    height: 1.6rem; /* Adjust the height of the cursor as needed */
    background-color: white;
    animation: blink 0.8s steps(1) infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes type {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes delete {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.typed-message-wrapper {
    background: url("images/background-hero.jpg") center center fixed; 
    background-size: cover;
    display: grid;
    height: 40rem;
}

.typed-message {
    align-self: center;
    justify-self: center;
    background-color: rgba(0,0,0,0.5);
    min-width: 400px;
    width: 60%;
    max-width: 800px;
    padding: 2rem;
}

.typed-message h1,h2 {
    color: white;
}
