* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    color: #297373;
}

h2 {
    font-size: 2rem;
    color: #0B1B1C;
}

h3 {
    font-size: 1.5rem;
    color: #0B1B1C;
}

p {
    font-size: 1rem;
    color: #707777;
}

a {
    color: #53BCBC;
    text-decoration: none;
}

a:hover {
    color: rgb(94 234 212);
}

button {
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}

.primary-button {
    background-color: #53BCBC;
    color: #FFFFFF;
}

.secondary-button {
    background-color: #F44D58;
    color: #FFFFFF;
}

header {
    display: flex;
    background-color: rgb(255,255,255);
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.nav-links {
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo {
    width: auto;
    height: 5rem;
}

.navlink {
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 7rem;
    color: black;
    flex: 1 1 3rem;
    margin: 0px 1rem;
    font-weight: 600;
    font-size: .95rem;
    height: 3rem;
    border-radius: 20px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow:  12px 12px 30px #ebebeb,
                 -12px -12px 30px #ffffff;
}

.navlink:hover {
    color: #52489C;
    border-radius: 20px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: inset 12px 12px 30px #ebebeb,
                inset -12px -12px 30px #ffffff;
}

.typing-cursor {
    display: inline-block;
    width: 3px;
    height: 1.6rem; /* Adjust the height of the cursor as needed */
    background-color: white;
    animation: blink 0.8s steps(1) infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes type {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes delete {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

#hero {
    position: relative;
}

.h1-name {
    color: rgb(94 234 212);
}

.typed-message-wrapper {
    background: url(images/hero-background.svg) center; 
    background-size: cover;
    display: grid;
    height: 40rem;
}

.typed-message {
    align-self: center;
    justify-self: center;
    background-color: rgba(0,0,0,0.5);
    min-width: 400px;
    width: 60%;
    max-width: 800px;
    padding: 2rem;
}

.typed-message h1,h2,p {
    color: white;
}

.socials-hero {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(0,0,0,0.5);
    border-radius: .5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem .5rem .3rem .5rem;
}

.socials-hero img {
    width: auto;
    height: 3rem;
    border-radius: .5rem;
}

.socials-hero img:hover {
    background-color: rgba(3, 255, 217, 0.3);
    transition: .2s ease-in-out;
}

#about {
    background-color: #414141;
}

.about-level-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

}

.about-container {
    padding: 5rem 3rem 12rem 3rem;
    max-width: 100rem;
    margin: 0 auto;
}

.about-heading {
    color: rgb(94 234 212);
    padding-bottom: 4rem;
    text-align: center;
}

.about-level-1 h3{
    color: white;
    padding-bottom: 2rem;
    text-align: center;
}

.about-synopsis p{
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    background: rgba(82, 82, 82, .8);
    border-radius: 5px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    display: block;
}

#activities {
    margin-top: -6rem;
    margin-bottom: 10rem;
}

.activities-containter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.activites-column {
    padding: 2rem 5rem;
    background-color: white;
    border: 1px solid #52489C;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    max-width: 15rem;
    border-radius: 1rem;
    height: 20rem;
}

.activites-column ul{
    list-style: none;
}

.activites-column p, ul {
    color: black;
    padding: 2rem 0;
}

.activites-column ul {
    font-weight: 500;
}

.activites-column h4 {
    color: #297373;
}

#projects {
    background-color:#99f1ff;
    background-image:
    radial-gradient(at 0% 100%, hsla(15,80%,79%,1) 0px, transparent 50%),
    radial-gradient(at 88% 83%, hsla(218,66%,75%,1) 0px, transparent 50%),
    radial-gradient(at 51% 77%, hsla(55,98%,70%,1) 0px, transparent 50%),
    radial-gradient(at 7% 85%, hsla(141,61%,75%,1) 0px, transparent 50%),
    radial-gradient(at 71% 4%, hsla(155,77%,77%,1) 0px, transparent 50%),
    radial-gradient(at 39% 89%, hsla(216,74%,79%,1) 0px, transparent 50%);
}
#projects h1 {
    color: #ffffff;
}